.ToDoItem {
  background-color: burlywood;
}

.Name {
  margin: 30px;
}

.Tag {
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
}

.IndividualTag {
  margin: 5px;
  color: azure;
}

.Check {
  vertical-align: middle;
}

.Date {
  display: inline;
  margin-right: 30px;
}
